.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #383838;
  border: 6px solid #9ae185;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #867d7d;
  border-color: #73de52;
}
