body {
  font-family: cursive;
  margin: 0;
  padding: 3rem;
  background-color: #2d2c2c;
  color: #959090;
}

.product {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #4e4f41;
  color: #e7e4e4;
  border-radius: 8px;
}

.product h2,
.product p {
  margin: 0.5rem 0;
}

.price {
  font-size: 0.75rem;
  color: #bab6b6;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart img {
  padding-left: 1.25rem;
  width: auto;
  height: 3.12rem;
}

/*//////////////// Log in  //////////*/
.loginField {
  width: 9.37rem;
  height: 1.56rem;
  border-radius: 8px;
}

.user {
  width: 1.87rem;
  height: auto;
  padding-left: 0.3rem;
}

.logInBlock {
  width: 9.37rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signIn {
  display: block;
  justify-content: center;
  width: 4.37rem;
  height: 1.87rem;
  margin-top: 1rem;
  background-color: #4e4f41;
  border-radius: 8px;
  color: #bab6b6;
  font-family: cursive;
}
